# Gradle build files
.gradle/
build/

# Local configuration
local.properties
*.iml

# IDEA/Android Studio files
.idea/
.idea/*

# Logs
*.log

# Android specific
captures/
.externalNativeBuild
.cxx/

# Gradle wrapper
gradle-wrapper.jar
gradle-wrapper.properties

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
