# Gradle files
.gradle/
build/
*/build/

# Local configuration
local.properties

# Log files
*.log

# Android Studio files
.idea/
*.iml
*.ipr
*.iws

# Keystore files (DO NOT COMMIT YOUR KEYSTORE)
*.jks
*.keystore

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties

# Misc
.DS_Store
/out/

# Crashlytics
com_crashlytics_export_strings.xml
fabric.properties
